body {
    width: 1300px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
    min-width: 100%;
    font-weight: 400;
    font-size: 18px;
    overflow: visible !important;
    background-color: #f2f2f2;
}
.nav {
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    margin-top: 15px;
    display: inline-block;
}
nav {
    text-align: center;
    font-size: 26px;
    list-style-type: none;
}
.nav:hover {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}
header {
    margin-top: -8px;
    margin-left: -7.7px;
    background: url(https://www.figma.com/file/mRMAtcKaoXXeuUb0nzNvXc/image/d2c76601b2d72dab2ef709fbecece36d1a5faf43) center no-repeat;
    height: 800px;
    width: 1400px;
    background-size: cover;
}
h2 {
    font-size: 30px;
    color: #4c575b;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}
.text2 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    display: block;
    color: #4c575b;
    font-size: 20px;
}
main {
    width: 1200px;
}
.peredtext {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
    color: #4c575b;
    font-size: 20px;
}
.text {
    margin-left: 10px;
}
